h1{
  color: #ffdd00;
  text_align: center;
}
body{
  background-image: https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwj5x7zS2ZXVAhXFzVQKHRIIA2IQjRwIBw&url=https%3A%2F%2Fwww.123rf.com%2Fphoto_28649722_white-brick-wall-texture-or-background.html&psig=AFQjCNGqy2n-buDkKdvGzJKkelIRWhJstw&ust=1500565576790945("brick-wall-painted-in-white_1194-7526.jpg");
  background-color: #e0e0e0;
  text-align: center;
}
